# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# Build / dist
build/
dist/

# IDE
.vscode/
.idea/

# Local test outputs
tests/_output/
